.down {
    position: fixed;
    cursor: pointer;
    background: rgba(63, 63, 63, 0.1);
    bottom: 70px;
    right: 2vw;
    border: 2px solid #2E2300;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.arrow {
    position: absolute;
    border-bottom: 2px solid #2E2300;
    border-right: 2px solid #2E2300;
    height: 16px;
    width: 16px;
    transform: rotate(45deg) translate(14px)
}

.hiden {
    display: none;
}