.profile {
    min-height: 95vh;
}

.container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}

.form__wrapper {
    border: rosybrown 1px solid;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
}

.wrapper {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.avatar {
    width: 4.5em;
    height: 4.5em;
    border-radius: 2.25em;
    margin-right: 16px;
}

.name {
    font-size: 1.5em;
}

.email {
    color: #AAA;
    font-size: 0.8em;
}

.signout {
    width: 90%;
    max-width: 300px;
    position: absolute;
    bottom: 1em;
    right: 50%;
    transform: translateX(50%);
}

.input {
    background: #2E2300;
    color: #fff;
    outline: none;
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 3px;
    transition: .3s all ease-in;
}

.button {
    font-family: 'Noto Sans', sans-serif;
    background: #a54a44;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    transition: .1s all ease-in;
}

.button:active,
.button:hover {
    background: #C05850;
}

.button:disabled {
    background: #773632;
    cursor: not-allowed;
}

.newchat {
    margin-top: 16px;
    width: 90%;
    max-width: 300px;
}

.newchat:disabled {
    opacity: 70%;
}